* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  font-size: 62.5%;

  --visa-icon: url(./assets/visa.svg);
  --elo-icon: url(./assets/elo.svg);
  --master-icon: url(./assets/mastercard.svg);
}

body {
  background: #111827;
}

.create-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.card {
  width: 32.8rem;
  height: 21.2rem;
  padding: 3rem;
  color: #fff;
  margin: 20px;
  background: black;
  font-size: 1.6rem;
  border-radius: 1.5rem;

  align-items: center;
  justify-content: center;
}

.card .flag {
  display: flex;
  justify-content: space-between;
}

.card .flag #flag-icon {
  width: 50px;
  background: var();
}

.card #card-number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  margin: 7rem 0 1rem;
}

.card .data {
  display: flex;
  justify-content: space-between;
}
